[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/omix/app
ExecStart=/home/omix/app/venv/bin/python main.py

[install]
WantedBy=multi-user.target